* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}

a, a:hover, a:visited, button:checked {
    color: black;
    text-decoration: none;
}

button, button:hover, button:visited {
    border: 0;
    font-family: inherit;
    text-decoration: none;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 1.5rem;
}

.game {
    display: flex;
    flex-wrap: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 225px auto 20px auto;
    color:  rgb(204, 204, 204);
    font-size: 2.8rem;
}

.game p {
    margin: 10px auto 15px auto;
}

.game ul {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game li {
    text-decoration: none;
    margin: 10px 10px;
    min-width: 150px;
    text-align: center;
    line-height: 0px;
    list-style-type: none;
    background-color: rgb(85, 151, 153);
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: 525;
}

.game li:hover {
    cursor: pointer;
    background-color: rgb(63, 135, 138);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.game li:active {
    background-color: rgb(50, 115, 117);

}

.game i {
    margin-top: 10px;
    font-size: 3rem;
}

.game .result {
    line-height: 40px;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 3px;
    min-width: 200px;
    min-height: 20px;
    padding: 5px 20px;
    text-align: center;
}

.game .count {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.game .count div {
    margin: 0 5px;
}

.game .reset {
    align-self: center;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    min-width: 100px;
    max-width: 200px;
    text-align: center;
    line-height: 35px;
    list-style-type: none;
    background-color: rgb(255, 121, 88);
    color: rgb(20, 20, 20);
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: 525;
}

.game .reset:hover {
    cursor: pointer;
    background-color: rgb(255, 93, 52);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.game .reset:active {
    cursor: pointer;
    background-color: rgb(212, 77, 44);
}


























